*
!.gitignore
!.bashrc
!.gtkrc-2.0

# .config and subfolders
!.config/
!.config/nvim/
!.config/nvim/**
!.config/dunst/
!.config/dunst/**
!.config/picom/
!.config/picom/**
!.config/ranger/
!.config/ranger/**
!.config/gtk-3.0/
!.config/gtk-3.0/**
!.config/gtk-4.0/
!.config/gtk-4.0/**
!.config/starship.toml

# top-level folders
!.themes/
!.themes/**
!.dwm/
!.dwm/**
!.Xresources


