*
!.gitignore
!.bashrc

# .config and subfolders
!.config/
!.config/nvim/
!.config/nvim/**
!.config/dunst/
!.config/dunst/**
!.config/picom/
!.config/picom/**
!.config/ranger/
!.config/ranger/**
!.config/starship.toml

# top-level folders
!.themes/
!.themes/**
!.dwm/
!.dwm/**
!.Xresources

