*
!.gitignore
!.zshrc
!.Xresources

# .config and subfolders
!.config/
!.config/nvim/
!.config/nvim/**
!.config/dunst/
!.config/dunst/**
!.config/picom/
!.config/picom/**
!.config/ranger/
!.config/ranger/**
!.config/starship.toml

# top-level folders
!.dwm/
!.dwm/**
